<p>Адреса</p>
<p>Улицы</p>
<table>
	<tr>
		<td><%= link_to "Просмотреть улицы", streets_path, class: "btn btn-large btn-primary" %></td>
		<td><%= link_to "Добавить улицу", add_street_path, class: "btn btn-large btn-primary" %></td>
		<td><%= link_to "Редактировать улицу", '#', class: "btn btn-large btn-primary" %></td>
		<td><%= link_to "Удалить улицу", '#', class: "btn btn-large btn-primary" %></td>
	</tr>
</table>
<p>Здания</p>
<table>
	<tr>
		<td><%= link_to "Добавить здание", '#', class: "btn btn-large btn-primary" %></td>
		<td><%= link_to "Редактировать здание", '#', class: "btn btn-large btn-primary" %></td>
		<td><%= link_to "Удалить здание", '#', class: "btn btn-large btn-primary" %></td>
	</tr>
</table>












