<% provide(:title, 'Главная') %>
<p class="lead">Основная информационная панель</p>
<hr>
<!--- <div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Информационные сообщения</div>
      <div class="panel-body">
        <% if @infomessages.empty? %>
          <p class="">Новостей на сегодня нет</p>
        <% else %>
          <%= render @infomessages %>
        <% end %> 
      </div>
    </div>
  </div>
  <div class="col-md-6 offset-col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Задачи</div>
      <div class="panel-body">
        <% if @infomessages.empty? %>
          <p class="">Задач на сегодня нет</p>
        <% else %>
          <%= render @infomessages %>
        <% end %> 
      </div>
    </div>
  </div>
</div> ---->
<div class="row">
  <div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Лифты с истекшим сроком эксплуатации (всего: <%= link_to @lift_overdue_count, overdue_lifts_path %>)</div>
    <div class="panel-body">
        <% if @lift_overdue.empty? %>
          <p class="text-info">Лифты с истекшим сроком эксплуатации нет</p>
        <% else %>
        <% @lift_overdue.each do |lift| %>
            <%= link_to lift.porch.build.street.name + ', ' + lift.porch.build.name + ' - ' + lift.porch.name, lift, class: "text-danger" %> &nbsp;&nbsp;&nbsp;&nbsp;год вывода: <%= (lift.introduced_at + 25) %><br>
        <% end %>
        <% end %>   
    </div>
    </div>
  </div>
    <div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Просроченные ПТО (всего: <%= link_to @inspection_overdue_count, overdue_inspections_path %>)</div>
    <div class="panel-body">
      <% if @inspection_overdue.empty? %>
        <p class="text-info">Просроченных ПТО нет<br><br></p>
        
      <% else %>
        <% @inspection_overdue.each do |il| %>
          <%= link_to il.lift.porch.build.street.street_kind.name + ' ' + il.lift.porch.build.street.name + ' - ' + il.lift.porch.build.name + ', ' + il.lift.porch.name, il.lift, class: "text-danger" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Дата ПТО по плану: <%= il.next_inspection_at.strftime("%d.%m.%Y") + ' ' %></br>
        <% end %>
      <% end %> 
    </div>
  </div>
  </div>  
</div>
<div class="row">
  <div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading"><%= link_to 'Перемещения оборудования', equipment_movements_path %></div>
    <div class="panel-body">
        <% if @equipment_movements.empty? %>
          <p class="text-info">Перемещений нет</p>
        <% else %>
          <%= render @equipment_movements %>
        <% end %>    
    </div>
    </div>
  </div>
    <div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Ближайшие запланированные ПТО</div>
    <div class="panel-body">
      <% if @inspection_next.empty? %>
        <p class="text-info">На ближайшее время ПТО не запланировано<br><br></p>
        
      <% else %>
        <% @inspection_next.each do |il| %>
          <%= il.next_inspection_at.strftime("%d.%m.%Y") + ' ' + il.lift.porch.build.street.street_kind.name + ' ' + il.lift.porch.build.street.name + ' - ' + il.lift.porch.build.name + ', ' + il.lift.porch.name %></br>
        <% end %>
      <% end %> 
    </div>
  </div>
  </div>  
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Изменения в УМ</div>
      <div class="panel-body">
        <% if @nodes_last.nil? %>
          <p class="text-info">Изменений нет</p>
        <% else %>
        <p class="text-muted">
          <% @nodes_last.each do |nl| %>
            <strong><%= nl.created_at.strftime("%d.%m.%Y") %></strong>
            Добавлен
            <% if nl.name.length == 3 %>
            <strong><%= link_to  'УМ ' + nl.name , nl %>&nbsp;</strong>
            <% else %>
            <strong>&nbsp;<%= link_to  'УМ ' + nl.name , nl %>&nbsp;&nbsp;</strong>
            <% end %>
            <%= nl.porch.build.street.street_kind.name + ' ' + nl.porch.build.street.name + ', ' + nl.porch.build.name %><br>

          <% end %>
        </p>
        <% end %>    
      </div>
    </div>   
  </div>
  <div class="col-md-6 offset-col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Недавно проведенные ПТО</div>
      <div class="panel-body">
        <% if @inspection_last.empty? %>
          <p class="text-info">В последнее время ПТО не проводилось<br><br></p>
        <% else %>
          <% @inspection_last.each do |il| %>
            <%= il.inspection_at.strftime("%d.%m.%Y") + ' ' + il.lift.porch.build.street.street_kind.name + ' ' +il.lift.porch. build.street.name + ' - ' + il.lift.porch.build.name + ', ' + il.lift.porch.name %></br>
          <% end %> 
        <% end %> 
      </div>
    </div>
  </div>
</div>