<% provide(:title, 'Новая точка подключения') %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well bs-component">
			<%= form_for @connection, html: { method: :post, class:"form-horizontal" } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<fieldset>
				<legend>Новая точка подключения</legend>
				<div class="form-group">
    		  <label class="col-lg-2 control-label">Назначение</label>
    		  <div class="col-lg-10">
    		    <div class="radio">
    		      <label>
    		        <input name="target" id="target_node" value="node" checked="" type="radio">
    		        Узловой модуль
    		      </label>
    		      &nbsp;
    		      <label>
    		        <input name="target" id="target_address" value="address" type="radio">
    		        Произвольный адрес
    		      </label>
    		    </div>
    		  </div>
    		</div>



				<div class="form-group" id="node">
					<%= f.label :porch_id, "УМ", class:"col-md-2 control-label" %>
					<div class="col-md-10">
						<%= f.select(:porch_id, options_for_select(@nodes.order_by_name.collect {|n| [n.name, n.porch_id] }), {}, 
						{class: "	form-control input-sm"} ) %>
					</div>
				</div>





				<div class="form-group">
					<%= f.label :title, "Тип", class:"col-md-2 control-label" %>
      		<div class="col-lg-10">
      		  <%= f.select(:title, options_for_select([['Основной канал связи', 'Основной канал связи'], ['Резервный канал связи', 'Резервный канал связи']]), {}, 
						{class: "	form-control input-sm"} ) %>
   	  		</div>
   	  	</div>
				<div class="form-group">
					<%= f.label :provider_id, "Провайдер", class:"col-md-2 control-label" %>
					<div class="col-md-10">
						<%= f.select(:provider_id, options_for_select(@providers.order_by_name.collect {|p| [p.name, p.id] }), {}, 
						{class: "	form-control input-sm"} ) %>
					</div>
				</div>
				<%= f.fields_for :ip_address do |ipa| %>
				<%= render 'shared/error_messages', object: ipa.object %>
				<fieldset>
      		<div class="form-group">
      		  <%= ipa.label :ip, "IP", class:"col-md-2 control-label" %>
      		  <div class="col-md-10">
      		  	<%= ipa.text_field :ip, class: "form-control input-sm", placeholder:"192.168.0.1" %>
      		  </div>
      		</div>
      		<div class="form-group">
      		  <%= ipa.label :mask, "Mask", class:"col-md-2 control-label" %>
      		  <div class="col-md-10">
      		  	<%= ipa.text_field :mask, class: "form-control input-sm", placeholder:"255.255.255.0" %>
      		  </div>
      		</div>
      		<div class="form-group">
      		  <%= ipa.label :gate, "Gate", class:"col-md-2 control-label" %>
      		  <div class="col-md-10">
      		  	<%= ipa.text_field :gate, class: "form-control input-sm", placeholder:"192.168.0.254" %>
      		  </div>
      		</div>
    		</fieldset>
    		<% end %>
				<div class="form-group">
			  	<div class="col-md-10 col-md-offset-2">
			  	<%= link_to " Отменить ", connections_path, class: "btn btn-default btn-sm" %>
			  	<%= f.submit "Сохранить", class: "btn btn-primary btn-sm" %>
			  	</div>
				</div>
			</fieldset>    
			<% end %>
		</div>
	</div>
</div>