<% provide(:title, "Вход") %>
<div class="loginbox">
	<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
 	<%= form_for(:session, url: sessions_path) do |f| %>
 	<div class="input-group">
 		<span class="input-group-addon"><span class="fa fa-user"></span></span>
 		<%= f.text_field :name, placeholder: "Имя пользователя", autofocus: true, class: "form-control input-sm" %>
 	</div>
 	<div class="input-group list">
 		<span class="input-group-addon"><span class="fa fa-lock"></span></span>
 		<%= f.password_field :password, placeholder: "Пароль", class: "form-control input-sm" %>
 	</div>
 	<div class="input-group list pull-right">
 			<%= f.submit "Войти", class: "btn btn-sm btn-default" %>
 	</div>
 	<% end %>
</div>