<% provide(:title, 'Адреса') %>
<p class="lead">Адреса расположения узловых модулей и обслуживаемых лифтов.</p>
<hr>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_tag({:controller => "address", :action => "index"}, :method => "get", role:"form") do %>
    <div class="input-group input-group-sm">
      <label class="sr-only" for="search">search</label>
      <%= search_field_tag(:search, params[:search], {class:"form-control", placeholder:"Партизанская, 8/1"}) %>
      <div class="input-group-btn">
        <%= submit_tag("Найти", class:"btn btn-default") %>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Списком
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
           <li><%= link_to "Все улицы",  streets_path  %></li>
           <li><%= link_to "Все адреса", address_list_path %></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Добавить
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right">
            <li><%= link_to "Улицу",  add_street_path %></li>
            <li><%= link_to "Здание", add_build_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% unless @address.nil? %>
<div class="row">
  <div class="col-md-10 col-md-offset-1 list" >
      <% if @address.empty? %>
          <p class="lead search_result">Адреса удовлетворяющие запросу не найдены.</p>
      <% else %>
      <table class="table table-condensed table-striped search_result">
        <caption>Результаты поиска</caption>
        <thead>
          <tr>
            <td>Адрес</td>
            <td>Количество лифтов</td>
          </tr>
        </thead>
        <tbody>
        <% @address.each do |s, b| %>
          <% b.each do |build| %>
            <tr>
              <td>
                <div class="searchcell">
                  <%= link_to s.name + ', ' + build.name, build %>
                </div>
              </td>
              <td><%= build.lifts.count %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>  
      </table>
      <% end %>
  </div>
</div>
<% end %>