<% provide(:title, 'Добавление узлового модуля') %>
<h1>Добавление узлового модуля</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@node, :remote => true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Номер узлового модуля:" %>
      <%= f.text_field :name %>

      <%= f.label :description, "Расположение оборудования:" %>
      <%= f.text_field :description %>

      <%= f.label :description, "Улица:" %>
      <%= f.select :street_id, options_from_collection_for_select(@streets, :id, :name) %>

      <%= f.label :description, "Здание:" %>
      <%= f.select :build_id, options_from_collection_for_select(@builds, :id, :name) %>

      <script>
            var changeStreets = function () {
            location.href='?street_id=' + streetsSelect.options[streetsSelect.selectedIndex].value;
            };
            var streetsSelect = document.getElementById('node_street_id');

            streetsSelect.onchange = changeStreets;
      </script>

      <%= f.submit "Добавить", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>