<% provide(:title, @node.name) %>
<div class="col-md-10 col-md-offset-1">
  <legend><%=@node.name%></legend>
  <div class="btn-group btn-group-sm col-md-7">
    <%= link_to "Показать все узлы", nodes_path, class: "btn btn-default" %>
    <%= link_to "Редактировать", edit_node_path, class: "btn btn-default" %>
  </div>










<% if @node.street.nil? %>
<h4>&nbsp;Группа лифтов, которые не выводятся в ЦД и не принадлежат какому-либо УМ</h4>
<% else %>
<table class="table table-striped table-bordered table-condensed">
  <caption><b>Основные параметры узла</b></caption>
  <thead>
    <td class="col-md-3">Адрес:</td>
    <td>ул.<%= @street %>, д. <%= @build.name %></td>
  </thead>
    <tr>
      <td>Расположение оборудования:</td>
      <td><%= @node.description %></td>
    </tr>
    <tr>
      <td>Основной ip-адрес / провайдер</td>
      <% if  @node.primary_ip_address == nil %>
      <td><span class="label label-warning">Нет информации об используемом ip -адресе</span> / <span class="label label-warning">Нет информации о провайдере</span></td>
      <% elsif @node.primary_ip_address.provider == nil %>
      <td><%= @node.primary_ip_address.ip %> / <span class="label label-warning">Нет информации</span></td>
      <% else %>
      <td><%= @node.primary_ip_address.ip %> / <%= @node.primary_ip_address.provider.name %></td>
      <% end %>
    </tr>
    <tr>
      <td>Резервный ip-адрес / провайдер</td>
      <% if  @node.secondary_ip_address == nil %>
      <td><span class="label label-warning">Нет информации об используемом ip -адресе</span> / <span class="label label-warning">Нет информации о провайдере</span></td>
      <% elsif @node.secondary_ip_address.provider == nil %>
      <td><%= @node.secondary_ip_address.ip %> / <span class="label label-warning">Нет информации</span></td>
      <% else %>
      <td><%= @node.secondary_ip_address.ip %> / <%= @node.secondary_ip_address.provider.name %></td>
      <% end %>
    </tr>
    <tr>
      <td>Порты обмена данными: данные / звук</td>
      <td></td>
    </tr>
</table>
<table class="table table-striped table-bordered table-condensed">
  <caption><b>Конфигурация ММИ</b></caption>
  <thead>
    <td>№ слота</td>
    <td>Тип устройства</td>
    <td>IP адрес</td>
    <td>Маска</td>
    <td>Шлюз</td>
    <td>Mac адрес</td>
    <td>Порт данных</td>
    <td>Порт звука</td>
  </thead>
    <tr>
      <td>1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>7</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>  
</table>
<table class="table table-striped table-bordered table-condensed">
  <caption><b>Установленное оборудование</b></caption>
  <thead>
    <td>Оборудование</td>
    <td>Серийный номер</td>
  </thead>
  <tbody>
    <%= render "nodes/equipment" %>
  </tbody>
</table>
<% end %> 