<% provide(:title, 'Освидетельствование лифтов') %>
  <div class="row">
   <div class="">
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th>Лифт</th>
          <th>Район</th>
          <th>Собственник</th>
          <th>№ договора</th>
          <th>ЗАО/ООО</th>
          <th>Экспертная организация</th>
          <th>Оплата</th>
          <th>Запланированная дата</th>
          <th>Фактическая дата</th>
        </tr>
        <% @lifts.each do |lift| %>
        <tr>
          

          <td class="title_left">
            <% if lift.porch.nil? %>
            <span class="label label-warning">Нет информации о расположении лифта</span>
            <% else %>
            <%= link_to lift.porch.build.street.name + ', '  + lift.porch.build.name + ' - '  + lift.porch.name, lift %>
            <% end %>
          </td>
          <td><%= lift.district.name %></td>
          <td>
            <% if lift.contract.nil? %>
            <span class="label label-warning">Собственник неизвестен</span>
            <% else %>
              <% if lift.contract.partner.nil? %>
              <span class="label label-warning">Собственник неизвестен</span>
              <% else %>
              <%= lift.contract.partner.name %>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if lift.contract.nil? %>
            <span class="label label-warning">Договор неизвестен</span>
            <% else %>
            <%= lift.contract.number %>
            <% end %>
          </td>
          <td>
            <%= lift.tlr.name %>
          </td>
          <td>
            <%= lift.expert.partner.name %>
          </td>
          <td>
            <%= lift.service_payment %>
          </td>
          <% if lift.inspections.last.nil? %>
          <td colspan="2">
              
          </td>
          <% else %>
          <% if lift.inspections.last.plained_at.nil? %>
          <td></td>
          <% else %>
          <td><%= lift.inspections.last.plained_at.strftime("%d.%m.%Y") %></td>
          <% end %>
          <td><%= lift.inspections.last.inspection_at.strftime("%d.%m.%Y") %>
          </td>     
          <% end %>
        </tr>
        <% end %>   
      </table>
    </div>
   </div>