<% provide(:title, 'Добавление нового лифта') %>
<h1>Добавление нового лифта</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@lift) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div>
        <%= f.label :street, "Улица:" %>
        <%= f.collection_select :street, Street.order(:name), :id, :name, prompt: 'Выберите улицу...' %>
      </div>
      <div>
        <%= f.label :build, "Здание:" %>
        <%= f.grouped_collection_select :build, Street.order(:name), :builds, :name, :id, :name, prompt: 'Выберите здание...' %>
      </div>
      <div>
        <%= f.label :porch_id, "Подъезд:" %>
        <%= f.grouped_collection_select :porch_id, Build.order(:name), :porches, :name, :id, :name, prompt: 'Выберите подъезд...' %>
      </div>
      <div>
        <%= f.label :regnum, "Регистрационный номер:" %>
        <%= f.number_field :regnum %>
      </div>
      <div>
        <%= f.submit "Добавить", class: "btn btn-large btn-primary" %>
      </div>      
    <% end %>
  </div>
</div>