<% provide(:title, 'Выбор стоимости обслуживания лифта') %>
<p class="lead">Выбор стоимости обслуживания лифта</p>
<hr>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
    <div class="well bs-component">
      <%= form_for(@lift, url: {action: "select_price_save"}, html:{class:"form-horizontal", role:"form"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <fieldset>
        <legend>
        <%= @street.name + ", " + @build.name + " - " + @porch.name + " | " + @lift.function + " " + @lift.capacity.to_s + " кг. " + @lift.stopscount.to_s + " остановок" %>
        </legend>
      	<table class="table table-bordered table-condensed table-striped" style="background: #FFF">
						<thead>
							<tr>
								<th class="td_center" style="width:50px;"> Этажность </th>
								<th class="td_center" style="width:150px;"> ПА </th>
								<th class="td_center" style="width:150px;"> ПР </th>
								<th class="td_center" style="width:150px;"> Б </th>
								<th class="td_center" style="width:150px;"> МГ до 150 </th>
								<th class="td_center" style="width:150px;"> Г 160-1000 </th>
								<th class="td_center" style="width:150px;"> Г свыше 1000 </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="td_center">2</td>
								<%= render @prices2fl %>
							</tr>
							<tr>
								<td class="td_center">3</td>
								<%= render @prices3fl %>
							</tr><tr>
								<td class="td_center">4</td>
								<%= render @prices4fl %>
							</tr>
							<tr>
								<td class="td_center">5</td>
								<%= render @prices5fl %>
							</tr>
							<tr>
								<td class="td_center">6</td>
								<%= render @prices6fl %>
							</tr>
							<tr>
								<td class="td_center">7</td>
								<%= render @prices7fl %>
							</tr>
							<tr>
								<td class="td_center">8</td>
								<%= render @prices8fl %>
							</tr>
							<tr>
								<td class="td_center">9</td>
								<%= render @prices9fl %>
							</tr>
							<tr>
								<td class="td_center">10</td>
								<%= render @prices10fl %>
							</tr>
							<tr>
								<td class="td_center">11</td>
								<%= render @prices11fl %>
							</tr>
							<tr>
								<td class="td_center">12</td>
								<%= render @prices12fl %>
							</tr>
							<tr>
								<td class="td_center">13</td>
								<%= render @prices13fl %>
							</tr>
							<tr>
								<td class="td_center">14</td>
								<%= render @prices14fl %>
							</tr>
							<tr>
								<td class="td_center">15</td>
								<%= render @prices15fl %>
							</tr>
							<tr>
								<td class="td_center">16</td>
								<%= render @prices16fl %>
							</tr>
							<tr>
								<td class="td_center">17</td>
								<%= render @prices17fl %>
							</tr>
							<tr>
								<td class="td_center">Лифт не обслуживается</td>
								<%= render @pricesnull %>
							</tr>
						</tbody>
				</table>
				<div class="form-group">
          <div class="col-md-6 col-md-offset-4">
            <%= link_to " Отменить ", :back, class: "btn btn-default btn-sm" %>
            <%= f.submit "Сохранить", class: "btn btn-primary btn-sm" %>
          </div>
        </div>
			</fieldset>
      <% end %>
    </div>
  </div>
</div>