<% provide(:title, @lift.regnum) %>
<div class="span10">
 <h4>Лифт относится к <%= link_to @node.name, @node %>, который расположен по адресу <%= @node.street.name %>, <%= @node.build.name %></h4>
<table class="table table-hover table-condensed table-bordered">
<thead>
        <td>Адрес</td>
        <td>Лифт</td>
        <td>Регистрационные данные</td>
        <td>ДК "Объ"</td>
        <td>Обслуживание</td>
        <td>Контрагент</td>
        <td>Сроки</td>
</thead>
<tbody>
        <tr>
            <td>
              ул.&nbsp;<b><%= @street.name %></b>,
              д.&nbsp;<b><%= @build.name %></b><br/>
              <b><%= @porch.name %></b><br/>
            </td>
            <td>
              <% if @lift.manufacturer.length < 3 %>
              <span class="label label-warning">Нет информации о производителе лифта</span>
              <% else %>
              <%= @lift.manufacturer %><br/>
              <% end %>
              <%= @lift.model %><br/>
              <%= @lift.function %><br/>
              <b><%= @lift.capacity.to_s %></b>&nbsp;кг,
              <b>&nbsp;<%= @lift.stopscount %></b>&nbsp;остановок<br/>
              Привод дверей&nbsp;<b><%= @lift.doors %></b>
              Скорость движения кабины <b><%= @lift.speed %></b> м/с<br/>
              Высота подъема <b><%= @lift.elevation %></b> м.<br/>       
            </td>
            <td>
              Рег. номер&nbsp;<%= @lift.regnum %><br/>
              Зав. номер&nbsp;<%= @lift.sernum %><br/>
              Номер паспорта&nbsp;<br/>
            </td>
            <td>
              <% if @lift.elevator_control_station.nil? %>
              <span class="label label-warning">Нет информации о СУЛ</span>
              <% else %>
              СУЛ&nbsp;<b><%= @lift.elevator_control_station.name %></b><br/>
              <% end %> 
              Лифтовой блок&nbsp;<br/>
              S/n блока&nbsp;<br/>
              Адрес на ЛШ&nbsp;<br/>
            </td>
            <td>
              <% if @lift.mechanic.nil? %>
              <span class="label label-warning">Нет информации о механике</span>
              <% else %>
              Участок&nbsp;<br/>
              Механик&nbsp;<%= @lift.mechanic.name %><br/>
              <% end %> 
            </td>
            <td>
              <% if @lift.contract.nil? %>
              <span class="label label-warning">Нет информации о собственнике лифта</span>
              <% else %>
              <%= @lift.contract.partner.name %><br/>
              № договора&nbsp;<%= @lift.contract.number %><br/>
              <% end %> 
            </td>
            <td>
              Ввод: <b><%= @lift.introduced_at %></b>&nbsp;г.<br/>
              Срок службы:&nbsp;<b><%= @lift.standart_life %></b>&nbsp;лет<br/>
              Модернизация:&nbsp;<b><%= @lift.overhaul_at %></b>&nbsp;г.<br/>
              Освидетельствование:&nbsp;<b><%= @lift.inspection_at %></b>&nbsp;г.<br/>
              Вывод: <b><%= @date_of_decommiss %></b>&nbsp;г.
            </td>
            
        </tr>
</tbody>
</table>
<table>
    	<tr>
    		<td><%= link_to "Показать все лифты дома", '#', class: "btn btn-small" %></td>
           <td><%= link_to "Показать все лифты узла", '#', class: "btn btn-small" %></td>
    		<td><%= link_to "Редактировать информацию о лифте", '#', class: "btn btn-small" %></td>
    	</tr>
</table>
</div>