<% if @lift.porch.nil? %>
<% provide(:title, 'Неизвестный адрес') %>
<% else %>
<% provide(:title, @street.name + ' ' + @build.name  + ' ' + @porch.name) %>
<% end %>
<% if @lift.porch.nil? %>
  <p class="text-warning">Неизвестный адрес</p>
<% else %>
  <p class="lead"><%= @city.name + ", ул. " + @street.name + ", д. " + @build.name + " - " + @porch.name %></p>
<% end %>
<hr>
<div class="col-md-10 col-md-offset-1">
  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
      <div class="btn-group btn-group-xs">
        <%= link_to "Все лифты здания", build_path(@build), class: "btn btn-default" %>
        <%= link_to "Все лифты узла", lifts_of_nodes_path + "?id=" + @lift.id.to_s, class: "btn btn-default" %>
        <%= link_to "Редактировать", edit_lift_path, class: "btn btn-default" %>
        <%= link_to "Отметка о ПТО", new_inspection_path + '?lift_id=' +@lift.id.to_s, class: "btn btn-default" %>
      </div>
    </div>
  </div>

  <div class="row list">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Регистрационные данные</div>
        <div class="panel-body">
          Регистрационный номер:<strong><%= @lift.regnum %></strong><br>
          Заводской номер: <%= @lift.sernum %><br>
          Номер паспорта: <br>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Владелец</div>
        <div class="panel-body">
          <% if @lift.contract.nil? %>
            <span class="label label-warning">Нет информации о собственнике лифта</span><br>
          <% else %>
            <% if @lift.contract.partner.nil? %>
              <span class="label label-warning">Нет информации о собственнике лифта</span><br>
              Договор № <%= @lift.contract.number %>&nbsp;от<br>
            <% else %>
              <%= @lift.contract.partner.name %><br>
              Договор № <%= @lift.contract.number %>&nbsp;от<br>
            <% end %>
            Срок действия:
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Технические данные</div>
        <div class="panel-body">
          <% if @lift.manufacturer.nil? %>
            <span class="label label-warning">Нет информации о производителе лифта</span>
          <% else %>
            <%= @lift.manufacturer %>
          <% end %>
          <% if @lift.model.nil? %>
            <span class="label label-warning">Нет информации о модели лифта</span><br>
          <% else %>
            <%= @lift.model %><br>
          <% end %>
          <% if @lift.function.nil? %>
            Назначение: <span class="label label-warning">Нет информации о типе лифта</span><br>
          <% else %>
            Назначение: <%= @lift.function %><br>
          <% end %>
          Грузоподъемность: <b><%= @lift.capacity.to_s %></b> кг<br>
          Количество остановок: <b><%= @lift.stopscount %></b><br>
          Привод дверей: <b><%= @lift.doors %></b><br>
          Скорость движения кабины: <b><%= @lift.speed %></b> м/с<br>
          Высота подъема: <b><%= @lift.elevation %></b> м.<br>
          <% if @lift.elevator_control_station.nil? %>
            <span class="label label-warning">Нет информации о СУЛ</span><br>
          <% else %>
          СУЛ&nbsp;<b><%= @lift.elevator_control_station.name %></b><br>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Контрольные даты и сроки</div>
        <div class="panel-body">
          Ввод в эксплуатацию:
          <% if @lift.introduced_at.nil? %>
          <br>
          <% else %>
          <b><%= @lift.introduced_at %></b>&nbsp;г.<br>
          <% end %>
          Срок службы:&nbsp;<b><%= @lift.standart_life %></b>&nbsp;лет<br>
          <% if @lift.overhauls.empty? %>
          <% else %>
          Модернизация:&nbsp;<b><%= @lift.overhauls.last.produced_at.strftime("%d.%m.%Y") %></b>
          (<%= link_to @lift.overhauls.last.kind, @lift.overhauls.last %>)<br>
          <% end %>
          Вывод из эксплуатации: <b><%= @date_of_decommiss %></b>&nbsp;г.<br>
          Последнее освидетельствование:
          <% if @lift.inspections.last.nil? %>
          <br>
          <% else %>&nbsp;<b><%= @lift.inspections.last.inspection_at.strftime("%d.%m.%Y") %></b>&nbsp;г.<br>
          <% end %>
          Следующее освидетельствование:
          <% if @lift.inspections.last.nil? %>
          <br>
          <% else %>&nbsp;<b><%= @lift.inspections.last.next_inspection_at.strftime("%d.%m.%Y") %></b>&nbsp;г.<br>
          <% end %>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Информация об обслуживании</div>
        <div class="panel-body">
          <% if @lift.tlr.nil? %>
            <span class="label label-warning">Нет информации о ЗАО/ООО</span><br>
          <% else %>
            <%= @lift.tlr.name %>&nbsp;Томсклифтремонт<br>
          <% end %>
          <% if @lift.district.nil? %>
            <span class="label label-warning">Нет информации принадлежности к участку</span><br>
          <% else %>
            <%= @lift.district.name %>&nbsp;участок<br>
          <% end %>
          <% if @lift.mechanic.nil? %>
            <span class="label label-warning">Нет информации о механике</span><br>
          <% else %>
            Линейный механик:&nbsp;<%= link_to @lift.mechanic.name, @lift.mechanic %><br>
          <% end %>
          <% if @lift.temp_serv_meches.empty? %>
          <% else %>
            Замещающий механик:&nbsp; <%= link_to @temp_serv_mech_name, @temp_serv_mech %> <%= @temp_serv_time  %><br>
          <% end %>
          Экспертная организация:&nbsp;
          <% if @lift.expert.nil? %>
            <span class="label label-warning">Нет информации</span><br>
          <% else %>
            <%= @lift.expert.partner.name %><br>
          <% end %>
          ПТО оплачивает:&nbsp;<%= @lift.service_payment %><br>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Информация по ДК "Объ"</div>
        <div class="panel-body">
          Лифтовой блок&nbsp;<br>
          S/n блока&nbsp;<br>
          Адрес на ЛШ&nbsp;<br>
          Принадлежит к<%= link_to ' УМ ' + @lift.node.name, @lift.node%><br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>