<% provide(:title, 'Договора') %>
<p class="lead">Договора</p>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2 list">
  	<table id="datatables" class="table table-condensed table-striped">
  		<thead>
  			<tr>
  				<th class="td_center">Номер</th>
  				<th class="td_center">Контрагент</th>
  				<th class="td_center">Дата подписания</th>
  				<th class="td_center">Дата окончания</th>
  				<th class="td_center">Количество лифтов</th>
  				<th></th>
  				<th></th>
  			</tr>
  		</thead>
  		<tbody>
        <tr>
          <td colspan="7" align="center" class="success"> ЗАО Томсклифтремонт</td>
        </tr>
    		<% @contracts_zao.each do |c| %>
    		<tr>
    			<td class="td_center"><%= link_to c.number, c %></td>
    			<td><%= c.partner.name if c.partner != nil %></td>
    			<td class="td_center"><%= c.signed_at.strftime("%d.%m.%Y") if c.signed_at != nil %></td>
    			<td class="td_center"><%= c.lifetime.strftime("%d.%m.%Y") if c.lifetime != nil %></td>
    			<td class="td_center"><%= link_to c.lifts.count, lifts_of_contract_path + "?id=" + c.id.to_s %></td>
    			<td><%= link_to "Изменить", edit_contract_path(c), class:"text-muted" %></td>
    			<td><%= link_to "Удалить", c, method: :delete, data: { confirm: "Вы уверены?" }, class:"text-muted" if current_user.admin? %></td>
    		</tr>
    		<% end %>
        <tr>
          <td colspan="7" align="center" class="success"> ООО Томсклифтремонт</td>
        </tr>
        <% @contracts_ooo.each do |c| %>
        <tr>
          <td class="td_center"><%= link_to c.number, c %></td>
          <td><%= c.partner.name if c.partner != nil %></td>
          <td class="td_center"><%= c.signed_at.strftime("%d.%m.%Y") if c.signed_at != nil %></td>
          <td class="td_center"><%= c.lifetime.strftime("%d.%m.%Y") if c.lifetime != nil %></td>
          <td class="td_center"><%= link_to c.lifts.count, lifts_of_contract_path + "?id=" + c.id.to_s %></td>
          <td><%= link_to "Изменить", edit_contract_path(c), class:"text-muted" %></td>
          <td><%= link_to "Удалить", c, method: :delete, data: { confirm: "Вы уверены?" }, class:"text-muted" if current_user.admin? %></td>
        </tr>
        <% end %>
        <tr>
          <td colspan="7" align="center" class="success"> Нуждаются в редакции</td>
        </tr>
        <% @contracts_other.each do |c| %>
        <tr>
          <td class="td_center"><%= link_to c.number, c %></td>
          <td><%= c.partner.name if c.partner != nil %></td>
          <td class="td_center"><%= c.signed_at.strftime("%d.%m.%Y") if c.signed_at != nil %></td>
          <td class="td_center"><%= c.lifetime.strftime("%d.%m.%Y") if c.lifetime != nil %></td>
          <td class="td_center"><%= link_to c.lifts.count, lifts_of_contract_path + "?id=" + c.id.to_s %></td>
          <td><%= link_to "Изменить", edit_contract_path(c), class:"text-muted" %></td>
          <td><%= link_to "Удалить", c, method: :delete, data: { confirm: "Вы уверены?" }, class:"text-muted" if current_user.admin? %></td>
        </tr>
        <% end %>
  		</tbody>
  	</table>
  </div>
</div>