<% provide(:title, 'Договора') %>
<% provide(:header, 'Договора') %>
<div class="row">
  <div class="col-md-12">
  	<table class="datatable display" cellspacing="0" width="100%">
  		<thead>
  			<tr>
  				<th class="td_center">Номер</th>
  				<th class="td_center">Контрагент</th>
  				<th class="td_center">Дата подписания</th>
  				<th class="td_center">Дата окончания</th>
  				<th class="td_center">Кол-во лифтов</th>
  				<th></th>
  				<th></th>
          <th></th>
  			</tr>
  		</thead>
  		<tbody>
    		<% @contracts_zao.each do |c| %>
    		<tr>
    			<td class="td_center"><%= link_to c.number, c %></td>
    			<td><%= c.partner.name if c.partner != nil %></td>
    			<td class="td_center"><%= c.signed_at.strftime("%d.%m.%Y") if c.signed_at != nil %></td>
    			<td class="td_center"><%= c.lifetime.strftime("%d.%m.%Y") if c.lifetime != nil %></td>
    			<td class="td_center"><%= link_to c.lifts.count, lifts_of_contract_path + "?id=" + c.id.to_s %></td>
          <td align="center" class="success"> ЗАО Томсклифтремонт</td>
    			<td><%= link_to "Изменить", edit_contract_path(c), class:"text-muted" %></td>
    			<td><%= link_to "Удалить", c, method: :delete, data: { confirm: "Вы уверены?" }, class:"text-muted" if current_user.admin? %></td>
    		</tr>
    		<% end %>
        <% @contracts_ooo.each do |c| %>
        <tr>
          <td class="td_center"><%= link_to c.number, c %></td>
          <td><%= c.partner.name if c.partner != nil %></td>
          <td class="td_center"><%= c.signed_at.strftime("%d.%m.%Y") if c.signed_at != nil %></td>
          <td class="td_center"><%= c.lifetime.strftime("%d.%m.%Y") if c.lifetime != nil %></td>
          <td class="td_center"><%= link_to c.lifts.count, lifts_of_contract_path + "?id=" + c.id.to_s %></td>
          <td align="center" class="success"> ООО Томсклифтремонт</td>
          <td><%= link_to "Изменить", edit_contract_path(c), class:"text-muted" %></td>
          <td><%= link_to "Удалить", c, method: :delete, data: { confirm: "Вы уверены?" }, class:"text-muted" if current_user.admin? %></td>
        </tr>
        <% end %>
        <% @contracts_other.each do |c| %>
        <tr>
          <td class="td_center"><%= link_to c.number, c %></td>
          <td><%= c.partner.name if c.partner != nil %></td>
          <td class="td_center"><%= c.signed_at.strftime("%d.%m.%Y") if c.signed_at != nil %></td>
          <td class="td_center"><%= c.lifetime.strftime("%d.%m.%Y") if c.lifetime != nil %></td>
          <td class="td_center"><%= link_to c.lifts.count, lifts_of_contract_path + "?id=" + c.id.to_s %></td>
          <td align="center" class="success"> Нуждаются в редакции</td>
          <td><%= link_to "Изменить", edit_contract_path(c), class:"text-muted" %></td>
          <td><%= link_to "Удалить", c, method: :delete, data: { confirm: "Вы уверены?" }, class:"text-muted" if current_user.admin? %></td>
        </tr>
        <% end %>
  		</tbody>
  	</table>
  </div>
</div>