<% provide(:title, 'Договора') %>
<p class="lead">Договора</p>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "address/address_search" %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 list">
  	<table id="datatables" class="table table-condensed table-striped">
  		<thead>
  			<tr>
  				<th class="td_center">Номер</th>
  				<th class="td_center">Контрагент</th>
  				<th class="td_center">Дата подписания</th>
  				<th class="td_center">Срок действия</th>
  				<th class="td_center">Количество лифтов</th>
  				<th></th>
  				<th></th>
  			</tr>
  		</thead>
  		<tbody>
    		<% @contracts.each do |c| %>
    		<tr>
    			<td class="td_center"><%= link_to c.number, c %></td>
    			<td><%= c.partner.name if c.partner != nil %></td>
    			<td class="td_center"><%= c.signed_at %></td>
    			<td class="td_center"><%= c.lifetime %></td>
    			<td class="td_center"><%= link_to c.lifts.count, lifts_of_contract_path + "?id=" + c.id.to_s %></td>
    			<td><%= link_to "Изменить", edit_contract_path(c), class:"text-muted" %></td>
    			<td><%= link_to "Удалить", c, method: :delete, data: { confirm: "Вы уверены?" }, class:"text-muted" if current_user.admin? %></td>
    		</tr>
    		<% end %>
  		</tbody>
  	</table>
  </div>
</div>