<% provide(:title, 'Новый договор') %>
<div class="row">
  <div class="span6 offset3">  <div class="col-md-6 col-md-offset-3">
    <div class="well bs-component">
      <%= form_for(@contract, html: { method: :post, class:"form-horizontal" } ) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <fieldset>
        <legend>Новый договор</legend>
        <div class="form-group">
          <%= f.label :number, "Номер:", class:"col-md-4 control-label"  %>
          <div class="col-md-6">
            <%= f.text_field :number, {class: "form-control input-sm"} %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :partner_id, "Партнер:", class:"col-md-4 control-label"  %>
          <div class="col-md-6">
            <%= f.select :partner_id, options_from_collection_for_select(@partners, :id, :name), {}, { class:"form-control input-sm" } %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :signed_at, "Дата подписания:", class:"col-md-4 control-label" %>
          <div class="col-md-6">
            <div class="input-daterange input-group"  id="datepicker">
              <%= f.text_field :signed_at, class: "input-sm form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :note, "Комментарии", class:"col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_area(:note, rows: 6, placeholder: "Комментарии", class: "form-control") %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-4">
            <%= link_to " Отменить ", contracts_path, class: "btn btn-default btn-sm" %>
            <%= f.submit "Сохранить", class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </fieldset>
      <% end %>
    </div>
  </div>
</div>