<% provide(:title, 'Договор №' + @contract.number) %>
<p class="lead"><%= 'Договор №' + @contract.number %></p>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  	<div class="panel panel-default">
    	<div class="panel-heading">Данные договора
        <div class="btn-group btn-group-xs pull-right">
          <%= link_to "Изменить", edit_contract_path, class:"btn btn-default btn-xs" %>
        </div>
      </div>
    		<div class="panel-body">
    			<table class="table table-condensed table-striped">
    				<tr>
    					<td>Контрагент</td>
    					<td><%= @contract.partner.name if @contract.partner != nil %></td>
    				</tr>
    				<tr>
    					<td>Дата подписания</td>
    					<td><%= @contract.signed_at.strftime("%d.%m.%Y") %></td>
    				</tr>
    				<tr>
    					<td>Срок действия</td>
    					<td><%= @contract.lifetime %></td>
    				</tr>
    				<tr>
    					<td>Комментарии</td>
    					<td><%= @contract.note %></td>
    				</tr>
    			</table>
    	</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Обслуживаемые лифты</div>
      <div class="panel-body">
        <table id="lifts" class="table table-striped table-condensed">
          <thead>
            <td>Адрес</td>
            <td>Рег.номер</td>
            <td>УМ</td>
            <td>Район</td>
            <td>Механик</td>
            <td>Дата вывода</td>
          </thead>
          <tbody>
            <%= render @lifts %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>