<% provide(:header, "Договор № " + @contract.number) %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  	<div class="panel panel-default">
    	<div class="panel-heading"><%= " Данные договора № " + @contract.number %>
        <div class="btn-group btn-group-xs pull-right">
          <%= link_to "Изменить", edit_contract_path, class:"btn btn-default btn-xs" %>
        </div>
      </div>
    		<div class="panel-body">
    			<table class="table table-condensed table-striped">
    				<tr>
              <td>Договор</td>
              <% if @contract.tlr.id == 3 %>
              <td><%= @contract.tlr.name + ' Томсклифтремонт' if @contract.tlr.id == 3 %></td>
              <% else %>
              <td><%= @contract.tlr.name + ' Томсклифтремонт' if @contract.tlr != nil %></td>
              <% end %>
            </tr>
            <tr>
    					<td>Контрагент</td>
    					<td><%= @contract.partner.name if @contract.partner != nil %></td>
    				</tr>
    				<tr>
    					<td>Дата подписания</td>
    					<td><%= @contract.signed_at.strftime("%d.%m.%Y") if @contract.signed_at != nil %></td>
    				</tr>
    				<tr>
    					<td>Дата окончания срока действия</td>
    					<td><%= @contract.lifetime.strftime("%d.%m.%Y") if @contract.lifetime != nil %></td>
    				</tr>
    				<tr>
    					<td>Комментарии</td>
    					<td><%= @contract.note %></td>
    				</tr>
    			</table>
    	</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Контакты
        <div class="btn-group btn-group-xs pull-right">
          <%= link_to "Добавить новый", add_new_contact_path(@contract.partner), class:"btn btn-default btn-xs" %>
          <%= link_to "Добавить существующий", add_existing_contact_path(@contract.partner), class:"btn btn-default btn-xs" %>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Ф.И.О.</th>
              <th>Должность</th>
              <th>Телефон # 1</th>
              <th>Телефон # 2</th>
              <th>E-mail</th>
              <th>Замечания</th>
            </tr>
          </thead>
          <tbody>
            <%= render 'partners/contact' %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Обслуживаемые лифты
        <div class="btn-group btn-group-xs pull-right">
          <%= link_to "Добавить лифт к договору", add_lift_path, class:"btn btn-default btn-xs" %>
          <%= link_to "Привязать лифты к другому договору", contracts_lift_move_zo_path, class:"btn btn-default btn-xs" %>
          <%= link_to "Изменить", contracts_lifts_move_path, class:"btn btn-default btn-xs" %>
        </div>
      </div>
      <div class="panel-body">
        <table id="lifts" class="table table-striped table-condensed">
          <thead>
            <td>Адрес</td>
            <td>Рег.номер</td>
            <td>УМ</td>
            <td>Район</td>
            <td>Механик</td>
            <td>Дата вывода</td>
          </thead>
          <tbody>
            <%= render @lifts %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>