<% provide(:title, 'Контрагенты') %>
<% provide(:header, 'Контрагенты') %>
<div class="row">
  <div class="col-md-12">
  	<table  class="datatable display" cellspacing="0" width="100%">
  		<thead>
  			<tr>
  				<th>Контрагент</th>
  				<th>Кол-во договоров</th>
  				<th>Кол-во лифтов</th>
  				<th></th>
          <th></th>
  			</tr>
  		</thead>
  		<tbody>
    		<% @partners.each do |p| %>
    		<tr>
    			<td><%= link_to p.name, p %></td>
    			<td><%= p.contracts.count %></td>
          <td><%= p.lifts.count %></td>
    			<td><%= link_to "Изменить", edit_partner_path(p), class:"text-muted" %></td>
    			<td><%= link_to "Удалить", p, method: :delete, data: { confirm: "Вы уверены?" }, class:"text-muted" if current_user.admin? %></td>
    		</tr>
    		<% end %>
  		</tbody>
  	</table>
  </div>
</div>