<% provide(:title, 'Данные контрагента') %>
<% provide(:header, 'Данные контрагента') %>
<div class="row">
  <div class="col-md-6">
  	<div class="panel panel-default">
    	<div class="panel-heading">Реквизиты
        <div class="btn-group btn-group-xs pull-right">
          <%= link_to "Изменить", edit_partner_path, class:"btn btn-default btn-xs" %>
        </div>
      </div>
    		<div class="panel-body">
    			<table class="table table-condensed table-striped">
    				<tr>
    					<td>Название</td>
    					<td><%= @partnername %></td>
    				</tr>
    				<tr>
    					<td>Адрес</td>
    					<td><%=  %></td>
    				</tr>
    				<tr>
    					<td>ИНН</td>
    					<td><%=  %></td>
    				</tr>
    				<tr>
    					<td>КПП</td>
    					<td><%=  %></td>
    				</tr>
    			</table>
    	</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Контакты
        <div class="btn-group btn-group-xs pull-right">
          <%= link_to "Добавить новый", add_new_contact_path, class:"btn btn-default btn-xs" %>
          <%= link_to "Добавить существующий", add_existing_contact_path, class:"btn btn-default btn-xs" %>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Ф.И.О.</th>
              <th>Должность</th>
              <th>Телефон # 1</th>
              <th>Телефон # 2</th>
              <th>E-mail</th>
              <th>Замечания</th>
            </tr>
          </thead>
          <tbody>
            <%= render 'partners/contact' %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Договора</div>
      <div class="panel-body">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Номер</th>
              <th>Дата подписания</th>
              <th>Срок действия</th>
              <th>Количество лифтов</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render 'partners/contract' %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>