<% @liftsooo.each do |lift| %>
<tr>
  <% if lift.porch.nil? %>
    <td>
      <span class="label label-warning">Нет информации о расположении лифта</span>
    </td>
    <td>
    </td>
  <% else %>
    <td>
      <%= link_to lift.porch.build.street.name + ', '  + lift.porch.build.name + ' - '  + lift.porch.name, lift %>
    </td>
    <td><%= lift.function %></td>
    <td><%= lift.capacity %></td>
    <td><%= lift.stopscount %></td>
    <% if lift.price.nil? %>
      <td><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, select_price_path(lift) if current_user.admin? || current_user.management? %></td>
    <% else %>
      <td>
        <%= number_to_currency(lift.price.cost, locale: :ru) %> <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, select_price_path(lift) if current_user.admin? || current_user.management? %>
      </td>
    <% end %>
   <% end %>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
</tr>
<% end %>