<% provide(:title, 'Добавление здания') %>
<div class="col-md-10 col-md-offset-1">
  <legend>Добавление здания</legend>
  <%= form_for(@build, html:{class: "col-md-4", role: "form"} ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <fieldset>
    <div class="form-group">
      <%= f.label :street_id, "Улица:" %>
      <%= f.select :street_id, options_from_collection_for_select(@streets.order(:name), :id, :name), {}, {class: "form-control input-sm"} %>
    </div>
    <div class="form-group">
      <%= f.label :name, "Номер здания:" %>
      <%= f.text_field :name, class: "form-control input-sm", placeholder: "Например: 8/1" %>
    </div>
    <div class="form-group">
      <%= f.label :porch_count, "Количество подъездов:" %>
      <%= f.text_field :porch_count, class: "form-control input-sm", placeholder: "Например: 8" %>
    </div>
    <%= f.submit "Добавить", class: "btn btn-default btn-sm" %>
  </fieldset>
  <% end %>
</div>