<% provide(:title, @street + ', ' + @build.name) %>
<div class="span8">
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @street %>, <%= @build.name %></h1>
    </section>
  </aside>
</div>


<h4>Данный адрес относится к <%= link_to @node.name, @node %>, который расположен на <%= @node.street.name %>, <%= @node.build.name %></h4>

<h2>Подъезды</h2>
<ul class="users">
  <%= render @porches %>
</ul>

<table>
  <tr>
    <td><%= link_to "Показать все здания улицы", '/streets/' + @streets, class: "btn btn-small" %></td>
    <td><%= link_to "Редактировать здание", '#', class: "btn btn-small" %></td>
    <td><%= link_to "Добавить подъезд", '#', class: "btn btn-small" %></td>
  </tr>
</table>
</div>