<% provide(:title, 'Оборудование | Склад') %>
<p class="lead">Статистика использования оборудования</p>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "equipment/equipment_search" %>
	</div>
</div>
<div class="col-md-8 col-md-offset-2 list">
	<table class="table table-striped table-condensed search_result">
		<tr>
			<td style="width:45%;"></td>
			<td style="width:11%;">Всего</td>
			<td style="width:11%;">В работе</td>
			<td style="width:11%;">Склад</td>
			<td style="width:11%;">Неисправно</td>
			<td style="width:11%;">Ремонт</td>
		</tr>
		<tr>
			<td class="td_address">Общее количество оборудования</td>
			<td><%= @equip_all %></td>
			<td><%= @equip_work %></td>
			<td><%= @equip_store %></td>
			<td><%= @equip_broken %></td>
			<td><%= @equip_service %></td>
		</tr>
		<% @equip_count.each do |ec| %>
		<tr>
			<td class="td_address"><%= link_to ec[:name], equipment_list_path(ec[:equipment]) %></td>
			<td><%= ec[:all] %></td>
			<td><%= ec[:work] %></td>
			<td><%= ec[:store] %></td>
			<td><%= ec[:broken] %></td>
			<td><%= ec[:service] %></td>
		</tr>
		<% end %>
	</table>
</div>