<% provide(:title, "Редактирование профиля") %>
<div class="row">
  <div class="span6 offset3">  <div class="col-md-6 col-md-offset-3">
    <div class="well bs-component">
      <%= form_for(@user, html: { method: :post, class:"form-horizontal" } ) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <fieldset>
        <legend>Редактирование профиля</legend>
        <div class="form-group">
          <%= f.label :name, "Логин", class:"col-md-4 control-label" %>
          <div class="col-md-6">
          <%= f.text_field :name, class: "form-control input-sm" %>
          </div>
        </div>
        <div class="form-group">  
          <%= f.label :runame, "Имя пользователя", class:"col-md-4 control-label" %>
          <div class="col-md-6">
          <%= f.text_field :runame, class: "form-control input-sm" %>
          </div>
        </div>
        <div class="form-group">  
          <%= f.label :email, "Электронная почта", class:"col-md-4 control-label" %>
          <div class="col-md-6">
          <%= f.text_field :email, class: "form-control input-sm" %>
          </div>
        </div>
        <div class="form-group">  
          <%= f.label :password, "Пароль", class:"col-md-4 control-label" %>
          <div class="col-md-6">
          <%= f.password_field :password, class: "form-control input-sm" %>
          </div>
        </div>
        <div class="form-group">  
          <%= f.label :password_confirmation, "Подтверждение", class:"col-md-4 control-label" %>
          <div class="col-md-6">
          <%= f.password_field :password_confirmation, class: "form-control input-sm" %>
          </div>
        </div>
        <div class="form-group">  
          <div class="col-md-10 col-md-offset-4">
            <%= link_to " Отменить ", users_path, class: "btn btn-default btn-sm" %>
            <%= f.submit "Сохранить", class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      <% end %>
      </fieldset>
    </div>
  </div>
</div>