<% provide(:title, 'Перемещение оборудования') %>
<p class="lead">Перемещение оборудования</p>
<hr>
  <div class="col-md-4 col-md-offset-4">
		<table class="table table-striped table-condensed">
			<% @equipment_move_buffer.equipment_line_items.each do |item| %>
			<tr>
				<td>
					<%= item.equipment.equipment_list.manufacturer + ' ' + item.equipment.equipment_list.name%>
				</td>
				<td>
					<%= item.equipment.factory_sn %>
				</td>
			</tr>
			<% end %>
		</table>
    <%= button_to 'Очистить буфер', @equipment_move_buffer, method: :delete, confirm: 'Вы уверены?', class:"pull-right btn btn-default btn-xs" %>
  </div>
  <div class="col-md-4 col-md-offset-4 list">
    
    <%= form_for(@equipment_movements) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <fieldset>
      <div class="form-group">
        <%= f.label :movement, "Описание перемещения:"  %>
        <%= f.text_field :movement, class: "form-control input-sm", placeholder:"Перенос оборудования на новый адрес" %>
      </div>
      <div class="form-group">
        <%= f.label :reason, "Причина перемещения:" %>
        <%= f.text_field :reason, class: "form-control input-sm", placeholder:"Оборудование УМ" %>
      </div>
      <div class="form-group">
        <%= f.label :street_id, "Улица:" %>
        <%= f.collection_select :street_id, Street.order(:name), :id, :name, {prompt:'Укажите улицу'}, {class: "form-control input-sm"} %>
      </div>
      <div class="form-group">
        <%= f.label :build_id, "Здание:" %>
        <%= f.grouped_collection_select(:build_id, Street.order(:name), :builds, :name, :id, :name, {prompt:'Укажите здание'}, html_options = {prompt: 
          'Выберите здание...', class: "form-control input-sm"}) %>
      </div>
      <div class="form-group">
        <%= f.label :porch_id, "Подъезд:" %>
        <%= f.grouped_collection_select(:porch_id, Build.order(:name), :porches, :name, :id, :name, {prompt:'Укажите подъезд'}, html_options = {prompt: 
          'Выберите подъезд...', class: "form-control input-sm"}) %>
      </div>
      <%= f.submit "Переместить", class: "pull-right btn btn-default btn-xs" %>   
    </fieldset>    
    <% end %>
	</div>		