<% provide(:title, @title) %>
<p class="lead"><%= @title %> за <%= @date %></p>
<hr>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="hidden-print">
      <%= form_tag timesheet_path, :method => :get, class:"form-inline" do %>
      <fieldset>
      <div class="form-group">
        <%= text_field_tag :date, 'Выберите месяц', class: "date input-sm form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :tlr_id, "", class:"control-label" %>
        <%= select_tag(:tlr_id, options_for_select([['ЗАО', 1], ['ООО', 2]]), {class: "form-control  input-sm"} ) %>
      </div>
          <%= submit_tag "Показать", class: "btn btn-default btn-sm" %>
          <%= link_to "Добавить отработанные часы", new_time_sheet_path, class: "btn btn-default btn-sm" %>
      </fieldset>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 list" >
      <table id="datatables" class="table table-condensed table-striped table-bordered">
        <thead>
          <th class="td_center" style="width: 400px">Механик</th>
          <% day =+1 %>
          <% @days.times do %>
            <th class="td_center" style="width: 50px"><%= day %></th>
            <% day +=1 %>
          <% end %>
        </thead>
        <tbody>
        <%= render 'time_sheets/timesheet' %>
        </tbody>
      </table>
  </div>
</div>