<% provide(:title, 'Редактирование улицы') %>
<% provide(:header, 'Редактирование улицы') %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@street) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
      <%= f.label :city_id, "Город:" %>
      <%= f.select :city_id, options_from_collection_for_select(@city, :id, :name), {},
      													{class: "form-control input-sm"} %>
    </div>
    <div class="form-group">
      <%= f.label :street_kind_id, "Тип улицы:" %>
      <%= f.select :street_kind_id, options_from_collection_for_select(@streetkind, :id, :name), {},
      													{class: "form-control input-sm"} %>
    </div>

      <%= f.label :name, "Название улицы:" %>
      <%= f.text_field :name %>

      <%= f.submit "Изменить", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>