<% provide(:title, @streetkind + " " + @street.name) %>
  <div class="col-md-10 col-md-offset-1">
    <legend><%= @streetkind + " " + @street.name %></legend>
      <div class="btn-group btn-group-sm col-md-7">
        <%= link_to "Список всех улиц", streets_path, class: "btn btn-default" %>
        <%= link_to "Редактировать улицу", edit_street_path, class: "btn btn-default" %>
        <%= link_to "Добавить здание", add_build_path, class: "btn btn-default" %>
      </div>
    <div class="col-md-6">
      <legend>Доступные адреса:</legend>
      <div>
        <ul class="list-group">
          <%= render @builds %>
        </ul>  
      </div>
    </div>    
  </div>