<% provide(:title, @street + ', ' + @build.name + ' - ' + @porch.name ) %>
<div class="span8">
<div class="row">
  <aside class="span8">
    <section>
      <h1><%= @street %>, <%= @build.name %></h1>
      
      <h5><%= @porch.name %></h5>

<% if @node.nil? %>
  <pan class="label">Подъезд еще не привязан к какому-либо УМ</span>
<% elsif @node.porch_id == nil %>

  <p>Подъезд относится к <%= link_to @node.name, @node %>, который расположен по адресу <%= @node.street.name %>, <%= @node.build.name %></p>
  <span class="label label-warning">Внимание! Необходимо проверить привязку УМ к подъезду.</span>
  
<% else %>
<p>Подъезд относится к <%= link_to @node.name, @node %>, который расположен по адресу <%= @node.street.name %>,
  <%= @node.build.name %> (<%= @node.porch.name %>)<p>
<% end %>
    </section>
  </aside>
</div>
<h2>Обслуживаемые лифты</h2>
<ul class="users">
 <%= render @lifts %>
</ul>

</div>