<% provide(:title, 'Расценки') %>
<p class="lead">Расценки</p>
<hr>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-bordered table-condensed table-striped">
			<thead>
				<tr>
					<th class="td_center" style="width:100px;"> Этажность </th>
					<th class="td_center" style="width:100px;"> ПА </th>
					<th class="td_center" style="width:100px;"> ПР </th>
					<th class="td_center" style="width:100px;"> Б </th>
					<th class="td_center" style="width:100px;"> МГ до 150 </th>
					<th class="td_center" style="width:100px;"> Г 160-1000 </th>
					<th class="td_center" style="width:100px;"> Г свыше 1000 </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="td_center">2</td>
					<%= render @prices2fl %>
				</tr>
				<tr>
					<td class="td_center">3</td>
					<%= render @prices3fl %>
				</tr><tr>
					<td class="td_center">4</td>
					<%= render @prices4fl %>
				</tr>
				<tr>
					<td class="td_center">5</td>
					<%= render @prices5fl %>
				</tr>
				<tr>
					<td class="td_center">6</td>
					<%= render @prices6fl %>
				</tr>
				<tr>
					<td class="td_center">7</td>
					<%= render @prices7fl %>
				</tr>
				<tr>
					<td class="td_center">8</td>
					<%= render @prices8fl %>
				</tr>
				<tr>
					<td class="td_center">9</td>
					<%= render @prices9fl %>
				</tr>
				<tr>
					<td class="td_center">10</td>
					<%= render @prices10fl %>
				</tr>
				<tr>
					<td class="td_center">11</td>
					<%= render @prices11fl %>
				</tr>
				<tr>
					<td class="td_center">12</td>
					<%= render @prices12fl %>
				</tr>
				<tr>
					<td class="td_center">13</td>
					<%= render @prices13fl %>
				</tr>
				<tr>
					<td class="td_center">14</td>
					<%= render @prices14fl %>
				</tr>
				<tr>
					<td class="td_center">15</td>
					<%= render @prices15fl %>
				</tr>
				<tr>
					<td class="td_center">16</td>
					<%= render @prices16fl %>
				</tr>
				<tr>
					<td class="td_center">17</td>
					<%= render @prices17fl %>
				</tr>
				<tr>
					<td class="td_center">Подъемники, эскалаторы</td>
					<%= render @prices_pod_esk %>
				</tr>
				<tr>
					<td class="td_center">Лифт не обслуживается</td>
					<%= render @pricesnull %>
				</tr>
			</tbody>
		</table>
	</div>
</div>