<div class="hidden-print">
    <%= form_tag work_order_for_all_mech_path, :method => :get, class:"form-inline" do %>
    <fieldset>
    <div class="form-group">
        <%= text_field_tag :date, 'Выберите месяц', class: "date input-sm form-control" %>
      </div>
    <div class="form-group">
      <%= label_tag :tlr_id, "", class:"control-label" %>
        <%= select_tag(:tlr_id, options_for_select([['Общий', 0], ['ЗАО', 1], ['ООО', 2]]), {class: "form-control  input-sm"} ) %>
    </div>
        <%= submit_tag "Рассчитать", class: "btn btn-default btn-sm" %>
        <%= link_to_function("Распечатать", "javascript:print()", class:"btn btn-default btn-sm") %>
    </fieldset>
    <% end %>
</div>