<% if signed_in? %>
<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "elevatorTools", main_path, class: "navbar-brand" %>
    </div>  
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right pdr">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @current_user.runame %><b class="caret"></b></a>
            <ul class="dropdown-menu pull-right">
              <% if current_user.admin? %>
              <li><%= link_to "Все пользователи", users_path %></li>
              <li><%= link_to "Добавить пользователя", signup_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Профиль", current_user %></li>
              <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Выйти", signout_path, method: :delete %></li>
              <% else %>
              <li><%= link_to "Профиль", current_user %></li>
              <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Выйти", signout_path, method: :delete %></li>
              <% end %>
            </ul>
          </li>
        </ul>
    </div>
  </nav>
<ul class="nav nav-tabs">
  <% if current_user.admin? or current_user.management? %> <!--- Вывод меню для администрации ---->
  <li class="<%= 'active' if (params[:controller] == 'static_pages' and params[:action] == 'main') %>">
    <%= link_to "Главная", main_path %></li>
  <li class="<%= 'active' if params[:controller] == 'address' %>"><%= link_to "Адреса", address_index_path %></li>
  <li class="<%= 'active' if params[:controller] == 'nodes' %>"><%= link_to "Узлы", nodes_path %></li>
  <li class="<%= 'active' if params[:controller] == 'lifts' %>"><%= link_to "Лифты", lifts_path %></li>
  <li class="<%= 'active' if params[:controller] == 'equipment' %>"><%= link_to "Оборудование", equipment_index_path %></li>
  <li class="<%= 'active' if (params[:controller] == 'static_pages' and params[:action] == 'statistics') %>">
    <%= link_to "Статистика", statistics_path %></li>
  <li class="<%= 'active' if (params[:controller] == 'static_pages' and params[:action] == 'handbook') %>">
    <%= link_to "Справочник", handbook_path %></li>
  <% else %> <!--- Вывод меню для всех остальных ---->
    <li class="<%= 'active' if (params[:controller] == 'static_pages' and params[:action] == 'main') %>">
      <%= link_to "Главная", main_path %></li>
    <li class="<%= 'active' if params[:controller] == 'address' %>"><%= link_to "Адреса", address_index_path %></li>
    <li class="<%= 'active' if params[:controller] == 'lifts' %>"><%= link_to "Лифты", lifts_path %></li>
    <li class="<%= 'active' if (params[:controller] == 'static_pages' and params[:action] == 'handbook') %>">
      <%= link_to "Справочник", handbook_path %></li>
  <% end %> 
</ul>
</header>
<% end %>