<nav>
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Поиск...">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
              </button>
              </span>
          </div>
        </li>
        <li>
          <%= link_to ("<i class='fa fa-dashboard fa-fw'></i> Основная панель").html_safe, main_path,
               class: ('active' if (params[:controller] == 'static_pages' and params[:action] == 'main')) %>
        </li>
        <li>
          <%= link_to ("<i class='fa fa-pie-chart fa-fw'></i> Статистика").html_safe, statistics_path,
               class: ('active' if (params[:controller] == 'static_pages' and params[:action] == 'statistics')) %>
        </li>
        <!-- Адреса -->
        <li>
          <%= link_to ("<i class='fa fa-building fa-fw'></i> Адреса <span class='fa arrow'></span>").html_safe, "#" %>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to "Все улицы", streets_path, class: ('active' if (params[:controller] == 'streets' and params[:action] == 'index')) %>
            </li>
            <li>
              <%= link_to "Все адреса", address_list_path, class: ('active' if (params[:controller] == 'address' and params[:action] == 'list')) %>
            </li>
            <li>
              <%= link_to ("<i class='fa fa-plus-circle'></i> Добавить адрес").html_safe, add_build_path %>
            </li>
            <li>
              <%= link_to ("<i class='fa fa-plus-circle'></i> Добавить улицу").html_safe, add_street_path %>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
        <!-- Лифты -->
        <li>
          <%= link_to ("<i class='fa fa-building-o fa-fw'></i> Лифты <span class='fa arrow'></span>").html_safe, "#",
                        class:('active' if params[:controller] == 'lifts') %>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to "Все лифты", lifts_list_path, class: ('active' if (params[:controller] == 'lifts' and params[:action] == 'list')) %>
            </li>
            <li>
              <a href="#">ПТО <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                  <li><%= link_to "По месяцам", month_inspections_path %></li>
                  <li><%= link_to "Сформировать", lifts_inspections_path %></li>
                  <li><%= link_to "Выгрузить (excel)", lifts_inspections_path(format: "xls") %></li>
                </ul>
              <!-- /.nav-third-level -->
            </li>
            <li>
              <a href="#">Единый реестр <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                  <li><%= link_to "Сформировать", fulliftsdata_path %></li>
                  <li><%= link_to "Выгрузить (excel)", fulliftsdata_path(format: "xls") %></li>
                </ul>
              <!-- /.nav-third-level -->
            </li>
            <li><%= link_to "Ремонты", overhauls_path %></li>
            <li><%= link_to "Простои", downtimes_path %></li>
            <li><%= link_to ("<i class='fa fa-plus-circle'></i> Добавить лифт").html_safe, add_lift_path if current_user.admin? %></li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
        <!-- Связь -->
        <li>
          <%= link_to ("<i class='fa fa-sitemap fa-fw'></i> Связь <span class='fa arrow'></span>").html_safe, "#",
          class: ('active' if params[:controller] == 'nodes') %>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to "УМ", nodes_all_path,
                  class: ('active' if (params[:controller] == 'nodes' and params[:action] == 'list')) %>
            </li>
            <li>
              <%= link_to "Подключения", connections_path,
                  class: ('active' if (params[:controller] == 'connections' and params[:action] == 'index')) %>
            </li>
            <li>
              <%= link_to "Провайдеры", providers_path,
                  class: ('active' if (params[:controller] == 'providers' and params[:action] == 'index')) %>
            </li>
          </ul>
        </li>
        <!-- Оборудование -->
        <li>
          <%= link_to ("<i class='fa fa-hdd-o fa-fw'></i> Оборудование <span class='fa arrow'></span>").html_safe, "#",
               class: ('active' if params[:controller] == 'equipment' or params[:controller] == 'equipment_types' or params[:controller] == 'equipment_lists') %>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to "Исправное", equipment_store_path,
                  class: ('active' if params[:controller] == 'equipment' and params[:action] == 'store') %>
            </li>
            <li class="<%= 'active' if (params[:controller] == 'equipment' and params[:action] == 'broken') %>"><%= link_to "Неисправное   ", equipment_broken_path %></li>
            <li class="<%= 'active' if (params[:controller] == 'equipment' and params[:action] == 'stats') %>"><%= link_to "Статистика",    equipment_stats_path %></li>
            <li class="<%= 'active' if params[:controller] == 'equipment_types' %>"><%= link_to "Категории", equipment_types_path %></li>
            <li class="<%= 'active' if params[:controller] == 'equipment_lists' %>"><%= link_to "Типы", equipment_lists_path %></li>
            <li><%= link_to "Добавить устройство", add_equipment_path %></li>
            <li><%= link_to "Добавить новый тип", add_e_list_path %></li>
            <li><%= link_to "Добавить новую категорию", add_e_type_path %></li>
          </ul>
        </li>
        <!-- Механики -->
        <li>
          <%= link_to ("<i class='fa fa-users fa-fw'></i> Механики <span class='fa arrow'></span>").html_safe, "#",
               class: ('active' if params[:controller] == 'mechanics') %>
          <ul class="nav nav-second-level">
            <li>
              <a href="#">Зарплата<span class="fa arrow"></span></a>
              <ul class="nav nav-third-level">
                <li><%= link_to "Учет р. времени", timesheet_path %></li>
                <li><%= link_to "Расчет ЗП", work_order_for_all_mech_path %></li>
                <li><%= link_to "Расценки", prices_path %></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- Договора -->
        <li>
          <%= link_to ("<i class='fa fa-file-text-o fa-fw'></i> Договора <span class='fa arrow'></span>").html_safe, "#",
               class: ('active' if (params[:controller] == 'conracts' and params[:action] == 'partners')) %>
          <ul class="nav nav-second-level">
            <li><%= link_to "Контрагенты", partners_path %></li>
            <li><%= link_to "Договора", contracts_path %></li>
            <li><%= link_to ("<i class='fa fa-plus-circle'></i> Добавить контрагента").html_safe, new_partner_path %></li>
            <li><%= link_to ("<i class='fa fa-plus-circle'></i> Добавить договор").html_safe, new_contract_path %></li>
          </ul>
        </li>
        <!-- Справочник -->
        <li>
          <%= link_to ("<i class='fa fa-book fa-fw'></i> Справочник <span class='fa arrow'></span>").html_safe, handbook_path,
               class: ('active' if (params[:controller] == 'static_pages' and params[:action] == 'handbook')) %>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to ("<i class='fa fa-question fa-fw'></i>").html_safe, about_path,
                   class: ('active' if (params[:controller] == 'static_pages' and params[:action] == 'about')) %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>